@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;700&display=swap');
@import 'tailwindcss';

html {
  font-size: 16px;
}

html[dir='rtl'] {
  font-family: 'Noto Nastaliq Urdu', system-ui, sans-serif;
  line-height: 2.2;
}

/* You can add global styles to this file, and also import other style files */
